.img-button{
    display: flex; 
    align-items: center;
    gap: 1.5rem; 
}

.img_Gael{
  border-radius: 50%;
  height: 100px;
  width: 100px; 
  object-fit: cover;
}

.button-contact {
  position: relative;
  padding: 0.6rem 1.5rem;
  border-radius: 999px;
  background-color: #1F2937;
   border: 2px solid #6366F1;
  color: #F1F5F9;
  font-size: 1rem;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

/* 🔥 Anillo de luz */
.button-contact::before {
  content: "";
  position: absolute;
  inset: 0; 
  border-radius: 999px;
  background: conic-gradient(
    transparent 0deg,
    #22c55e 90deg,
    transparent 180deg
  );
  animation: rotateLight 6s linear infinite;
  z-index: -1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

/* Recorte interior para que solo se vea el borde */
.button-contact::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #0F172A;
  border-radius: 999px;
  z-index: -1;
}

/* Animación */
@keyframes rotateLight {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-contact:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(34, 197, 94, 0.3);
}
.hero {
  position: relative;
 padding: 10rem 10% 8rem 10%;
   overflow-x: hidden;
}

.hero-content {
  max-width: 600px;
  z-index: 2;
  position: relative;
}

.intro {
  color: #94A3B8;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.description {
  margin-top: 1rem;
  color: #D1D5DB;
  font-weight: 400;
}

.accent {
    color: #FEF08A;
}

.contacts-content{
    display: flex; 
    align-items: center;
    gap: 1rem; 
    margin-top: 1.5rem;
}

.contact-me{
  display: flex; 
  align-items: center;
  gap: .6rem;
  position: relative;
  padding: 0.6rem 1.5rem;
  border-radius: 999px;
  background-color: #0F172A;
  border: 2px solid #6e6f7c;
  color: #F1F5F9;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}
.contact-me:hover {
  background-color: #1E293B;
  border-color: #38BDF8;
  transform: translateY(-2px);
}

.contact-me:active {
  transform: translateY(0);
}

