@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  color: #F1F5F9;
}
.app-container {
  background-color: #0F172A;
  min-height: 100vh;
}
.hero {
  position: relative;
 padding: 10rem 10% 8rem 10%;
   overflow: hidden;
}

.hero-content {
  max-width: 600px;
  z-index: 2;
  position: relative;
}

.intro {
  color: #94A3B8;
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.title {
  margin-top: 1rem;
  color: #F1F5F9;
  font-weight: 400;
}

.description {
  margin-top: 1.5rem;
  color: #94A3B8;
}

.accent {
  color: #6366F1;
}

/* Glow Effect */
.glow-circle {
  position: absolute;
  width: 500px;
  height: 400px;
  background: radial-gradient(circle, #6366F1 0%, transparent 70%);
  filter: blur(100px);
  top: 20%;
  right: 10%;
  opacity: 0.4;
}

/* Cards */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.card {
  background: rgba(99, 102, 241, 0.08);
  padding: 2rem;
  border-radius: 16px;
  transition: 0.3s;
  backdrop-filter: blur(10px);
}

.card:hover {
  transform: translateY(-6px);
  background: rgba(99, 102, 241, 0.15);
}

/* Projects */
.project-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 3rem;
}

.project-image {
  width: 400px;
  height: 250px;
  background: #1E293B;
  border-radius: 16px;
}
/* NAVBAR */
.navbar {
    box-sizing: border-box;
  width: 100%;
  padding: 1.5rem 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  background: rgba(15, 23, 42, 0.85);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(99, 102, 241, 0.1);
  z-index: 1000;
}

.navbar-logo {
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: #F1F5F9;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

/* HAMBURGER */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #F1F5F9;
}

@media (max-width: 768px) {
    .hamburger {
    display: block;
  }
.navbar-links {
     position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;

    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(12px);

  transition: right 0.3s ease; 

}
.navbar-links.active {
    right: 0;
  }

}

.navbar-links li:hover {
  color: #6366F1;
}

/* línea animada */
.navbar-links li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #6366F1;
  transition: width 0.3s ease;
}

.navbar-links li:hover::after {
  width: 100%;
}